SystemB/src/main/java/org/systemB/http/webRoot/test.xml

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="child1" type="string" />
                <element name="child2" type="string" />
            </sequence>
        </complexType>
    </element>
</schema>